In [1]:
import pandas as pd
import numpy as np

from tqdm.notebook import tqdm

from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer
from sklearn.neighbors import NearestNeighbors

%matplotlib inline

In [61]:
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [62]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [63]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [64]:
def change_string(s):
    return ' '.join(s.replace(' ', '').replace('-', '').split('|'))

In [65]:
movie_genres = [change_string(g) for g in movies.genres.values]

In [128]:
movie_genres

['Adventure Animation Children Comedy Fantasy',
 'Adventure Children Fantasy',
 'Comedy Romance',
 'Comedy Drama Romance',
 'Comedy',
 'Action Crime Thriller',
 'Comedy Romance',
 'Adventure Children',
 'Action',
 'Action Adventure Thriller',
 'Comedy Drama Romance',
 'Comedy Horror',
 'Adventure Animation Children',
 'Drama',
 'Action Adventure Romance',
 'Crime Drama',
 'Drama Romance',
 'Comedy',
 'Comedy',
 'Action Comedy Crime Drama Thriller',
 'Comedy Crime Thriller',
 'Crime Drama Horror Mystery Thriller',
 'Action Crime Thriller',
 'Drama SciFi',
 'Drama Romance',
 'Drama',
 'Children Drama',
 'Drama Romance',
 'Adventure Drama Fantasy Mystery SciFi',
 'Crime Drama',
 'Drama',
 'Mystery SciFi Thriller',
 'Children Drama',
 'Crime Drama',
 'Children Comedy',
 'Comedy Romance',
 'Drama',
 'Drama War',
 'Action Crime Drama',
 'Drama',
 'Action Adventure Fantasy',
 'Comedy Drama Thriller',
 'Drama Romance',
 'Mystery Thriller',
 'Animation Children Drama Musical Romance',
 'Drama Romance',
 'Crime Mystery Thriller',
 'Comedy Drama Romance',
 'Adventure Drama',
 'Children Comedy',
 'Drama',
 'Drama',
 'Comedy Drama Romance',
 'Adventure Children Fantasy',
 'Drama Thriller',
 'Drama',
 'Comedy Crime',
 'Comedy Romance',
 'Comedy',
 'Action SciFi Thriller',
 'Comedy Romance',
 'Comedy',
 'Action Comedy Horror Thriller',
 'Action',
 'Comedy Drama',
 'Drama War',
 'Drama Romance',
 'Comedy Drama',
 'Action SciFi Thriller',
 'Documentary',
 'Action Crime Drama Thriller',
 'Drama Thriller',
 'Children Drama',
 'Crime Drama Romance',
 'Comedy Drama',
 'Drama Romance',
 'Drama Romance',
 'Action Adventure Drama',
 'Children Comedy',
 'Comedy',
 'Action Thriller',
 'Drama Horror Thriller',
 'Comedy Horror Romance',
 'Comedy Drama Romance',
 'Action Adventure Thriller',
 'Comedy Drama',
 'Crime Drama',
 'Documentary',
 'Drama Thriller',
 'Adventure Comedy Crime Romance',
 'Comedy',
 'Mystery SciFi Thriller',
 'Comedy',
 'Drama Romance',
 'Comedy Drama',
 'Adventure Children Comedy Musical',
 'Documentary',
 'Action Drama War',
 'Crime Drama Thriller',
 'Action Adventure Comedy Crime',
 'Drama Mystery',
 'Documentary',
 'Crime Drama',
 'Comedy Romance',
 'Comedy',
 'Drama',
 'Comedy Romance',
 'Drama Mystery Romance',
 'Comedy',
 'Adventure Children Fantasy',
 'Documentary',
 'Comedy Romance',
 'Thriller',
 'Comedy',
 'Documentary',
 'Drama Romance',
 'Comedy',
 'Comedy',
 'Action Comedy Crime Drama Thriller',
 'Adventure Children',
 'Drama',
 'Drama',
 'Crime Drama Thriller',
 'Adventure Drama IMAX',
 'Action Drama Romance War',
 'Drama Horror',
 'Action Adventure Comedy Crime',
 'Drama',
 'Adventure Drama War',
 'Comedy Drama',
 'Comedy War',
 'Adventure Children',
 'Crime Drama Mystery',
 'Action Adventure Mystery SciFi',
 'Drama Thriller War',
 'Documentary',
 'Action Romance Western',
 'Crime FilmNoir Mystery Thriller',
 'Action Crime Thriller',
 'Comedy Crime Drama',
 'Action Drama Romance',
 'Adventure Children Drama',
 'Action Adventure Crime Thriller',
 'Comedy Drama',
 'Action SciFi Thriller',
 'Action Crime SciFi',
 'Comedy',
 'Drama',
 'Comedy',
 'Horror',
 'Comedy Drama',
 'Drama Romance',
 'Comedy Romance',
 'Action Children',
 'Comedy Horror Thriller',
 'Drama',
 'Action Crime Thriller',
 'Comedy Romance',
 'Comedy',
 'Fantasy Horror Mystery',
 'Comedy Fantasy',
 'Thriller',
 'Drama Romance',
 'Drama',
 'Comedy Drama',
 'Comedy Drama Romance',
 'Horror SciFi',
 'Action Crime Drama Mystery SciFi Thriller',
 'Drama Musical Romance',
 'Drama Fantasy',
 'Drama Romance',
 'Comedy',
 'Action',
 'Comedy Drama',
 'Documentary',
 'Drama Romance',
 'Action Adventure SciFi',
 'Drama',
 'Western',
 'Drama',
 'Adventure Comedy Crime Mystery',
 'Drama',
 'Drama War',
 'Drama Romance',
 'Comedy',
 'Drama Thriller',
 'Comedy Drama',
 'Drama',
 'Horror',
 'Drama Romance',
 'Comedy',
 'Comedy Drama Romance',
 'Drama Thriller',
 'Action Thriller',
 'Comedy',
 'Drama Thriller',
 'Drama Thriller',
 'Adventure Comedy',
 'Comedy Drama Romance',
 'Drama',
 'Comedy',
 'Comedy Drama',
 'Action Comedy Romance',
 'Comedy Romance',
 'Adventure Children',
 'Animation Children Comedy Romance',
 'Thriller',
 'Children Drama',
 'Drama Musical',
 'Children Comedy Fantasy',
 'Documentary',
 'Crime Drama',
 'Comedy',
 'Drama Romance',
 'Children Comedy',
 'Action',
 'Comedy Romance',
 'Drama Horror',
 'Drama',
 'Comedy',
 'Comedy SciFi',
 'Mystery Thriller',
 'Adventure Children Comedy Fantasy Romance',
 'Crime Drama Thriller',
 'Action Adventure SciFi',
 'Drama',
 'Children Drama',
 'Drama',
 'Drama Fantasy Romance',
 'Drama Romance War Western',
 'Comedy',
 'Drama',
 'Drama Romance',
 'Drama',
 'Comedy Drama',
 'Drama Horror SciFi',
 'Comedy',
 'Comedy',
 'Comedy Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Drama Thriller',
 'Comedy Drama Romance',
 'Drama',
 'Crime Drama',
 'Action Crime',
 'Drama Horror',
 'Comedy Romance',
 'Action Crime Thriller',
 'Comedy Romance',
 'Crime Drama',
 'Drama Thriller',
 'Action Drama SciFi Thriller',
 'Action Crime Drama Thriller',
 'Comedy Romance',
 'Comedy Romance',
 'Comedy Crime Drama Thriller',
 'Drama',
 'Drama',
 'Drama',
 'Drama Romance',
 'Drama Romance',
 'Action Thriller Western',
 'Comedy Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Comedy Drama',
 'Comedy',
 'Horror Thriller',
 'Comedy',
 'Animation Children',
 'Children Drama Fantasy Mystery',
 'Action Drama Thriller',
 'Action Adventure SciFi',
 'Comedy Drama Fantasy',
 'Crime Drama',
 'Comedy Drama Thriller',
 'FilmNoir Thriller',
 'Drama',
 'Comedy Drama',
 'Comedy Drama',
 'Comedy',
 'Drama',
 'Action Comedy SciFi',
 'Horror Thriller',
 'Adventure Drama SciFi',
 'Action Crime Horror',
 'Drama',
 'Horror SciFi',
 'Comedy',
 'Drama',
 'Mystery Thriller',
 'Drama War',
 'Drama',
 'Action SciFi Thriller',
 'Comedy Romance',
 'Adventure Drama War',
 'Drama',
 'Comedy',
 'Children',
 'Comedy',
 'Comedy Drama',
 'Drama Musical',
 'Drama FilmNoir Romance',
 'Comedy',
 'Action Crime Drama Thriller',
 'Drama Mystery Thriller',
 'Comedy Drama Romance',
 'Comedy Drama',
 'Action Crime Fantasy Thriller',
 'Drama',
 'Children Comedy Fantasy',
 'Comedy Drama Romance War',
 'Comedy Romance',
 'Drama',
 'Comedy Drama Romance',
 'Action Comedy',
 'Comedy Drama Romance',
 'Adventure Children Romance',
 'Documentary',
 'Adventure Animation Children Drama Musical IMAX',
 'Drama',
 'Drama Horror Mystery Thriller',
 'Action Comedy Crime Fantasy',
 'Adventure Comedy Western',
 'Drama',
 'Action Comedy',
 'Comedy Drama',
 'Comedy Drama Romance',
 'Thriller',
 'Children Comedy',
 'Action Thriller',
 'Action Romance Thriller',
 'Comedy Romance',
 'Action SciFi Thriller',
 'Action Adventure Comedy Romance Thriller',
 'Drama Romance',
 'Drama Horror Romance Thriller',
 'Western',
 'Action Crime Drama',
 'Drama',
 'Drama',
 'Action Comedy',
 'Drama',
 'Drama Romance War',
 'Action Crime Drama',
 'Crime Drama',
 'Action Adventure Fantasy',
 'Action Fantasy',
 'Drama',
 'Horror Thriller',
 'Drama',
 'Crime Drama',
 'Children Comedy Fantasy',
 'Drama',
 'Comedy',
 'Comedy',
 'Comedy Thriller',
 'Western',
 'Comedy Romance',
 'Drama',
 'Comedy',
 'Action Comedy Crime Thriller',
 'Adventure Children Drama',
 'Thriller',
 'Action Thriller',
 'Drama',
 'Drama Romance',
 'Horror SciFi Thriller',
 'Drama Mystery Romance Thriller',
 'Drama',
 'Comedy',
 'Comedy Drama',
 'Crime Drama',
 'Adventure Comedy Western',
 'Comedy',
 'Action Adventure Thriller',
 'Comedy SciFi',
 'Drama Thriller',
 'Comedy',
 'Action Comedy Drama',
 'Comedy Romance',
 'Comedy',
 'Action Adventure SciFi',
 'Comedy Romance',
 'Comedy',
 'Drama Romance',
 'Drama',
 'Comedy',
 'Comedy Drama',
 'Drama Mystery Romance',
 'Drama',
 'Comedy Romance',
 'Drama Thriller',
 'Adventure Children Drama',
 'Crime Drama Thriller',
 'Thriller',
 'Drama Western',
 'Action Adventure Crime Drama Romance Thriller',
 'Comedy',
 'Drama Romance',
 'Action Adventure Crime Thriller',
 'Action Comedy War',
 'Comedy',
 'Comedy Romance',
 'Drama Romance',
 'Comedy',
 'Comedy',
 'Comedy Drama',
 'Comedy War',
 'Action Thriller',
 'Drama',
 'Comedy Drama',
 'Drama Musical',
 'Comedy Crime Drama',
 'Action Crime Thriller',
 'Action Adventure SciFi Thriller',
 'Drama Thriller',
 'Crime Drama Thriller',
 'Adventure Children',
 'Action Adventure Comedy Fantasy',
 'Comedy',
 'Comedy Western',
 'Drama Romance',
 'Comedy',
 'Thriller',
 'Drama',
 'Comedy Mystery',
 'Action Crime Drama',
 'Action Adventure Thriller',
 'Drama',
 'Comedy Drama Romance Thriller',
 'Comedy Romance',
 'Comedy Romance',
 'Comedy Drama',
 'Drama',
 'Action Children Romance',
 'Action Drama SciFi',
 'Comedy',
 'Drama Fantasy Romance',
 'Crime Drama Thriller',
 'Drama',
 'Drama Romance',
 'Drama',
 'Action Drama',
 'Horror SciFi',
 'Comedy Mystery Romance',
 'Comedy',
 'Drama Romance',
 'Comedy Drama',
 'Action Drama Mystery',
 'Comedy',
 'Action Crime Drama SciFi Thriller',
 'Comedy',
 'Crime Thriller',
 'Action Drama',
 'Drama',
 'Drama',
 'Drama',
 'Drama War',
 'Comedy Drama',
 'Drama',
 'Children Drama',
 'Comedy Crime Horror',
 'Action Adventure Fantasy Mystery',
 'Drama Romance',
 'Drama',
 'Drama',
 'Drama',
 'Drama',
 'Comedy Drama Romance',
 'Thriller',
 'Action SciFi Thriller',
 'Comedy Drama Romance',
 'Comedy Romance Thriller',
 'Action Crime',
 'Action Adventure Children Comedy Fantasy SciFi',
 'Action Adventure Thriller',
 'Action Mystery Thriller',
 'Drama Musical',
 'Comedy Romance',
 'Animation Children Fantasy Musical',
 'Action Adventure Comedy Romance',
 'Action Drama Western',
 'Crime Thriller',
 'Documentary',
 'Action Adventure Animation Children Fantasy',
 'Comedy Drama',
 'Drama Romance',
 'Comedy',
 'Comedy Drama',
 'Comedy Drama',
 'Comedy Drama',
 'Drama',
 'Comedy Drama',
 'Children Comedy',
 'Adventure Children Drama',
 'Crime Thriller',
 'Drama',
 'Documentary',
 'Comedy Drama',
 'Comedy',
 'Children Comedy',
 'Comedy Drama Fantasy Romance Thriller',
 'Adventure Animation Children Comedy Musical',
 'Action SciFi',
 'Adventure Drama Western',
 'Action Crime Thriller',
 'Crime Horror Thriller',
 'Animation Children Drama Fantasy Musical',
 'Animation Children Fantasy Musical Romance IMAX',
 'Animation Children Fantasy Musical',
 'Comedy Romance',
 'Adventure Western',
 'Action Comedy Crime',
 'Documentary',
 'Drama Romance',
 'Fantasy Horror',
 'Comedy Crime Drama Thriller',
 'Adventure Children',
 'Action Adventure Animation Horror SciFi',
 'Action Horror SciFi',
 'Comedy',
 'Drama Romance',
 'Comedy Drama',
 'Animation Children',
 'Comedy Drama',
 'Comedy Romance',
 'Comedy',
 'Comedy',
 'Drama Thriller',
 'Crime Drama Mystery Thriller',
 'Adventure Animation Children Fantasy Musical Romance',
 'Drama War',
 'Comedy',
 'Comedy',
 'Comedy Drama',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy Drama',
 'Drama Thriller',
 'Drama',
 'Action Crime Drama War',
 'Action Adventure Mystery Thriller',
 'Comedy Drama',
 'Drama',
 'Action Adventure Fantasy',
 'Comedy',
 'Adventure Animation Children Fantasy Musical',
 'Thriller',
 'Comedy',
 'Comedy Drama War',
 'Action',
 'Drama',
 'Drama',
 'Comedy SciFi',
 'Adventure Animation Children Comedy Fantasy SciFi',
 'Adventure Comedy SciFi',
 'Drama Thriller',
 'Drama',
 'Drama Mystery Romance SciFi Thriller',
 'Drama',
 'Action Adventure Comedy War',
 'Comedy Romance',
 'Action SciFi Thriller',
 'Action Crime Drama',
 'Mystery Thriller',
 'Drama Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Action Adventure',
 'Drama',
 'Crime Drama Thriller',
 'Comedy Romance',
 'Adventure Animation Children Comedy Musical',
 'Comedy',
 'Adventure Children',
 'Drama Mystery Western',
 'Drama Romance',
 'Comedy Fantasy SciFi',
 'Comedy',
 'Adventure Animation Comedy',
 'Documentary',
 'Drama Fantasy Horror Thriller',
 'Comedy',
 'Drama',
 'Comedy',
 'Crime Thriller',
 'Action Adventure Thriller',
 'Horror',
 'Action Adventure Romance Thriller',
 'Action SciFi',
 'Animation SciFi',
 'Horror Thriller',
 'Comedy',
 'Animation Children Comedy',
 'Comedy',
 'Action SciFi Thriller',
 'Comedy War',
 'Drama',
 'Documentary',
 'Drama War',
 'Action Adventure',
 'Comedy Crime',
 'Drama Romance',
 'Comedy Drama',
 'Drama',
 'Drama',
 'Horror Mystery',
 'Comedy Crime Drama',
 'Drama Romance',
 'Action Adventure SciFi Thriller',
 'Drama',
 'Drama Thriller',
 'Animation Children Drama Musical Romance',
 'Comedy Thriller',
 'Comedy',
 'Action Drama Thriller',
 'Comedy Fantasy Romance SciFi',
 'Drama',
 'Documentary',
 'Drama',
 'Action Adventure Drama Thriller',
 'Comedy Horror Thriller',
 'Drama Mystery Western',
 'Children Comedy',
 'Drama Romance',
 'Comedy Drama Romance',
 'Comedy Romance',
 'Drama Thriller',
 'Crime Drama',
 'Adventure Children',
 'Action Adventure',
 'Children Comedy Fantasy',
 'Comedy',
 'Comedy',
 'Drama',
 'Drama Mystery',
 'Adventure Children',
 'Comedy Fantasy Musical',
 'Comedy',
 'Crime Thriller',
 'Comedy',
 'Drama',
 'Action Adventure Thriller',
 'Children Comedy Fantasy',
 'Comedy Drama Romance',
 'Action Thriller',
 'Children Comedy',
 'Horror',
 'Comedy Horror',
 'Drama',
 'Action Adventure SciFi Thriller',
 'Drama',
 'Comedy Drama Romance',
 'Crime Drama',
 'Action Comedy Crime Thriller',
 'Crime Drama Romance Thriller',
 'Comedy Crime',
 'Crime Drama Musical Thriller',
 'Comedy',
 'Action Crime Drama',
 'Action Comedy Crime Thriller',
 'Horror Thriller',
 'SciFi Thriller',
 'Children Comedy',
 'Drama Thriller',
 'Children Drama Fantasy',
 'Action Comedy Crime',
 'Adventure Animation Children Musical',
 'Drama Romance',
 'Horror Thriller',
 'Comedy Drama Romance',
 'Drama',
 'Drama',
 'Adventure Drama Romance War',
 'Comedy Drama Romance',
 'Comedy Musical Romance',
 'Musical Romance',
 'Comedy Musical',
 'Drama Romance',
 'Drama Mystery Romance Thriller',
 'Mystery Thriller',
 'Comedy Romance',
 'Drama Thriller',
 'Comedy Musical Romance',
 'Action Adventure Mystery Romance Thriller',
 'Comedy Drama Romance',
 'Comedy Crime',
 'Comedy Crime Mystery Romance Thriller',
 'Drama Romance',
 'FilmNoir Mystery',
 'Comedy Drama Musical Romance',
 'Comedy Romance',
 'Comedy Drama Romance',
 'Children Drama',
 'Musical',
 'Adventure Children Fantasy Musical',
 'Drama Romance War',
 'Comedy',
 'Drama FilmNoir Romance',
 'Drama Mystery',
 'Adventure Drama SciFi',
 'Drama',
 'Comedy',
 'Drama Mystery Romance Thriller',
 'Drama FilmNoir Mystery Thriller',
 'FilmNoir Romance Thriller',
 'Mystery Romance Thriller',
 'Drama Romance',
 'Crime Mystery Romance Thriller',
 'Comedy',
 'Comedy Musical',
 'Comedy Romance',
 'Comedy Romance',
 'Musical',
 'Action Adventure Romance',
 'Adventure',
 'Crime FilmNoir Mystery',
 'Drama Fantasy Romance',
 'Drama',
 'Comedy Musical Romance',
 'Comedy Drama War',
 'Comedy Romance',
 'Drama Romance Western',
 'Drama',
 'Comedy Crime',
 'Comedy Romance',
 'Adventure Comedy',
 'Children Drama Fantasy Romance',
 'Drama',
 'Comedy Romance',
 'Drama Romance',
 'Drama',
 'Drama',
 'Musical',
 'Drama Mystery Thriller',
 'Horror SciFi Thriller',
 'Adventure Comedy Romance War',
 'Adventure Comedy Crime Drama Romance',
 'Drama',
 'Comedy Drama',
 'Romance War',
 'Drama War',
 'Drama',
 'Drama',
 'Comedy Drama',
 'Adventure Children',
 'Drama Romance',
 'Comedy Drama',
 'Action Adventure Thriller',
 'Drama',
 'Drama',
 'Comedy Drama',
 'Action Crime Drama Thriller',
 'Action Crime',
 'Crime FilmNoir',
 'Drama Thriller',
 'Action Thriller',
 'Children Comedy',
 'Drama',
 'Children Comedy Western',
 'Adventure Western',
 'Adventure Children Fantasy',
 'Children Comedy',
 'Children Comedy Fantasy Romance',
 'Children Drama',
 'Children Comedy Romance',
 'Children Comedy Drama',
 'Adventure Children Drama',
 'Children Comedy',
 'Adventure Children',
 'Children Comedy Mystery',
 'Adventure Drama SciFi',
 'Comedy',
 'Children Comedy',
 'Animation Children Fantasy Musical Romance',
 'Animation Children Musical',
 'Animation Children Musical',
 'Animation Children Fantasy Musical',
 'Adventure Drama',
 'Children Comedy Fantasy Musical',
 'Animation Children Drama Musical',
 'Adventure Animation Children Musical',
 'Adventure Children Musical',
 'Adventure Animation Children Fantasy Musical',
 'Animation Children Drama',
 'Comedy Crime Drama Thriller',
 'Musical Romance',
 'Action Crime Thriller',
 'Action Horror SciFi Thriller',
 'Drama',
 'Drama',
 'Comedy Drama',
 'Drama Romance',
 'Drama Romance',
 'Action Drama Thriller',
 'Action Adventure',
 'Documentary Drama',
 'Drama',
 'Crime Drama Romance',
 'Drama',
 'Thriller',
 'Drama',
 'Comedy Musical Romance',
 'Drama Romance',
 'Comedy Drama',
 'Thriller',
 'Animation Children Comedy Fantasy Musical Romance',
 'Comedy Musical Romance',
 'Crime FilmNoir',
 'Children Comedy Fantasy Musical',
 'Drama Horror Thriller',
 'Comedy SciFi',
 'Comedy War',
 'Comedy Crime',
 'Comedy',
 'Comedy Musical Romance',
 'Drama',
 'Comedy Musical',
 'Crime Drama',
 'Adventure Drama',
 'Crime Mystery Thriller',
 'Drama Musical Romance',
 'Crime Mystery Thriller',
 'Drama War',
 'Comedy',
 'Crime Mystery Thriller',
 'Drama',
 'Drama Romance Thriller',
 'Drama',
 'Drama',
 'Children Drama SciFi',
 'Children Drama Fantasy',
 'Action Drama Romance',
 'Action Romance',
 'Drama',
 'Drama',
 'Horror',
 'Comedy',
 'Documentary',
 'Action Comedy Drama',
 'Crime Drama',
 'Drama',
 'Drama',
 'Drama',
 'Comedy Drama',
 'Drama',
 'Documentary',
 'Drama',
 'Comedy Crime',
 'Comedy Fantasy',
 'Action Adventure SciFi Thriller',
 'Horror',
 'Action Adventure SciFi Thriller',
 'Horror Mystery',
 'Drama Mystery',
 'Drama',
 'Comedy',
 'Adventure Comedy Fantasy',
 'Romance',
 'Drama',
 'Documentary',
 'Documentary',
 'Animation Children Comedy Crime',
 'Drama',
 'Animation Comedy Drama Fantasy',
 'Drama',
 'Drama War',
 'Comedy Drama',
 'Drama',
 'Comedy',
 'Action',
 'Comedy',
 'Drama',
 'Comedy Drama',
 'Comedy Drama Romance',
 'Drama Fantasy Romance',
 'Drama Romance',
 'Drama War',
 'Crime Drama FilmNoir',
 'Comedy',
 'Drama Romance War',
 'Comedy Drama',
 'Drama',
 'Drama',
 'Drama',
 'Comedy Romance',
 'Documentary',
 'Crime Drama Romance',
 'Documentary Musical',
 'Documentary',
 'Drama',
 'Comedy',
 'Action Adventure SciFi',
 'Action Adventure Comedy Fantasy Romance',
 'Action Adventure',
 'Fantasy SciFi',
 'Action Adventure Horror SciFi',
 'Action Adventure Western',
 'Comedy',
 'Drama',
 'Adventure Drama War',
 'Crime Drama SciFi Thriller',
 'Drama',
 'Action Drama War',
 'Action Drama Western',
 'Action Adventure SciFi',
 'Drama Fantasy Romance',
 'FilmNoir Mystery Thriller',
 'Crime Drama',
 'Horror SciFi',
 'Action Adventure Comedy Fantasy Horror',
 'Adventure Drama Romance',
 'Drama War',
 'Action Crime Drama Thriller',
 'Crime Horror',
 'Action Comedy Musical',
 'Crime Drama',
 'Drama War',
 'Adventure Animation Children Comedy SciFi',
 'Action Drama Romance War',
 'Drama',
 'Drama Romance',
 'Crime Drama',
 'Drama',
 'Comedy Romance',
 'Drama',
 'Drama Mystery SciFi',
 'Action Drama War',
 'Comedy Crime',
 'Comedy Drama Romance',
 'Comedy Drama Romance',
 'Drama',
 'Comedy',
 'Action SciFi Thriller',
 'Comedy Fantasy Horror',
 'Drama War',
 'Comedy Drama',
 'Comedy Drama Romance',
 'Crime Drama FilmNoir Thriller',
 'Drama',
 'Comedy Drama Romance',
 'Crime FilmNoir Thriller',
 'Action Crime Romance Thriller',
 'Adventure Drama War',
 'Drama Fantasy',
 'Crime FilmNoir Mystery Thriller',
 'Drama SciFi Thriller',
 'Action Adventure Drama Western',
 'Comedy Horror SciFi',
 'Comedy Musical War',
 'Comedy Romance',
 'Horror',
 'Adventure Drama',
 'Crime FilmNoir Thriller',
 'Action Comedy Fantasy Horror',
 'Action Adventure Drama War',
 'Drama War',
 'Action Drama Mystery Romance Thriller',
 'Comedy Fantasy Romance',
 'Drama Western',
 'Crime Thriller War',
 'Comedy Drama',
 'Comedy Mystery Thriller',
 'Adventure Comedy SciFi',
 'Comedy Crime Drama',
 'Drama War',
 'Comedy Drama FilmNoir',
 'Action Adventure Animation SciFi',
 'Action Adventure Fantasy',
 'Drama',
 'Comedy Drama Romance',
 'Comedy Fantasy',
 'Comedy Drama',
 'Drama',
 'Comedy Drama War',

In [67]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(movie_genres)

In [82]:
# print(X_train_counts)

In [69]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [84]:
# print(X_train_tfidf)

In [72]:
neigh = NearestNeighbors(n_neighbors=7, n_jobs=-1, metric='euclidean') 
neigh.fit(X_train_tfidf)

NearestNeighbors(metric='euclidean', n_jobs=-1, n_neighbors=7)

In [73]:
test = change_string("Adventure|Comedy|Fantasy|Crime")

predict = count_vect.transform([test])
X_tfidf2 = tfidf_transformer.transform(predict)

res = neigh.kneighbors(X_tfidf2, return_distance=True)

In [74]:
res

(array([[0.42079615, 0.53300564, 0.54288608, 0.54288608, 0.54288608,
         0.54288608, 0.54288608]]),
 array([[6774, 9096, 5636, 6723, 3376, 7496, 9717]], dtype=int64))

In [75]:
movies.iloc[res[1][0]]

,movieId,title,genres
6774,60074,Hancock (2008),Action|Adventure|Comedy|Crime|Fantasy
9096,143559,L.A. Slasher (2015),Comedy|Crime|Fantasy
5636,27368,Asterix & Obelix: Mission Cleopatra (AstÃ©rix &...,Adventure|Comedy|Fantasy
6723,58972,Nim's Island (2008),Adventure|Comedy|Fantasy
3376,4591,Erik the Viking (1989),Adventure|Comedy|Fantasy
7496,82854,Gulliver's Travels (2010),Adventure|Comedy|Fantasy
9717,188833,The Man Who Killed Don Quixote (2018),Adventure|Comedy|Fantasy

In [93]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [94]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [95]:
movies_with_tags = movies.join(tags.set_index('movieId'), on='movieId')

In [112]:
movies_with_tags.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3683 entries, 0 to 9732
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   movieId    3683 non-null   int64
 1   title      3683 non-null   object
 2   genres     3683 non-null   object
 3   userId     3683 non-null   float64
 4   tag        3683 non-null   object
 5   timestamp  3683 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 201.4+ KB

In [96]:
movies_with_tags.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,1.139046e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474.0,pixar,1.137207e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567.0,fun,1.525286e+09
1,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,fantasy,1.528844e+09
1,2,Jumanji (1995),Adventure|Children|Fantasy,62.0,magic board game,1.528844e+09

In [117]:
movies_with_tags.groupby('title').count()

                                   movieId  genres  userId  tag  timestamp
title
(500) Days of Summer (2009)              8       8       8    8          8
...And Justice for All (1979)            1       1       1    1          1
10 Cloverfield Lane (2016)               2       2       2    2          2
10 Things I Hate About You (1999)        1       1       1    1          1
101 Dalmatians (1996)                    2       2       2    2          2
...                                    ...     ...     ...  ...        ...
Zero Dark Thirty (2012)                  5       5       5    5          5
Zombieland (2009)                        6       6       6    6          6
Zoolander (2001)                         6       6       6    6          6
Zulu (1964)                              1       1       1    1          1
eXistenZ (1999)                          1       1       1    1          1

[1572 rows x 5 columns]

In [97]:
movies_with_tags[movies_with_tags.title == 'Toy Story (1995)']

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,336.0,pixar,1.139046e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,474.0,pixar,1.137207e+09
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,567.0,fun,1.525286e+09

In [98]:
movies_with_tags.tag.unique()

array(['pixar', 'fun', 'fantasy', ..., 'star wars', 'gintama', 'remaster'],
      dtype=object)

In [99]:
movies_with_tags.tag.unique().shape

(1590,)

In [100]:
movies_with_tags.dropna(inplace=True)

In [101]:
movies_with_tags.title.unique().shape

(1572,)

In [122]:
movies_with_tags[movies_with_tags.title == '(500) Days of Summer (2009)']

,movieId,title,genres,userId,tag,timestamp
7075,69757,(500) Days of Summer (2009),Comedy|Drama|Romance,477.0,artistic,1.279956e+09
7075,69757,(500) Days of Summer (2009),Comedy|Drama|Romance,477.0,Funny,1.279956e+09
7075,69757,(500) Days of Summer (2009),Comedy|Drama|Romance,477.0,humorous,1.279956e+09
7075,69757,(500) Days of Summer (2009),Comedy|Drama|Romance,477.0,inspiring,1.279956e+09
7075,69757,(500) Days of Summer (2009),Comedy|Drama|Romance,477.0,intelligent,1.279956e+09
7075,69757,(500) Days of Summer (2009),Comedy|Drama|Romance,477.0,quirky,1.279956e+09
7075,69757,(500) Days of Summer (2009),Comedy|Drama|Romance,477.0,romance,1.279956e+09
7075,69757,(500) Days of Summer (2009),Comedy|Drama|Romance,477.0,Zooey Deschanel,1.279956e+09

In [121]:
for movie, group in tqdm(movies_with_tags.groupby('title')):
    print(group.tag.values, movie)
    break

  0%|          | 0/1572 [00:00<?, ?it/s]

['artistic' 'Funny' 'humorous' 'inspiring' 'intelligent' 'quirky'
 'romance' 'Zooey Deschanel'] (500) Days of Summer (2009)

In [102]:
tag_strings = []
movies = []

for movie, group in tqdm(movies_with_tags.groupby('title')):
    tag_strings.append(' '.join([str(s).replace(' ', '').replace('-', '') for s in group.tag.values]))
    movies.append(movie)

  0%|          | 0/1572 [00:00<?, ?it/s]

In [127]:
movies_with_tags.groupby('title').tag

In [103]:
tag_strings[:5]

['artistic Funny humorous inspiring intelligent quirky romance ZooeyDeschanel',
 'lawyers',
 'creepy suspense',
 'Shakespearesortof',
 'dogs remake']

In [123]:
movies[:5]

['(500) Days of Summer (2009)',
 '...And Justice for All (1979)',
 '10 Cloverfield Lane (2016)',
 '10 Things I Hate About You (1999)',
 '101 Dalmatians (1996)']

In [104]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(tag_strings)

In [105]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [106]:
neigh = NearestNeighbors(n_neighbors=10, n_jobs=-1, metric='manhattan') 
neigh.fit(X_train_tfidf)

NearestNeighbors(metric='manhattan', n_jobs=-1, n_neighbors=10)

In [107]:
for i in range(len(movies)):
    if 'Magnolia (1999)' == movies[i]:
        print(i)

822

In [108]:
tag_strings[822]

'L.A.'

In [109]:
test = change_string('pixar pixar fun')

predict = count_vect.transform([test])
X_tfidf2 = tfidf_transformer.transform(predict)

res = neigh.kneighbors(X_tfidf2, return_distance=True)

In [110]:
res

(array([[0., 0., 1., 1., 1., 1., 1., 1., 1., 1.]]),
 array([[661, 822, 947, 955, 954, 953, 951, 950, 949, 959]], dtype=int64))

In [111]:
for i in res[1][0]:
    print(movies[i])

In a Lonely Place (1950)
Magnolia (1999)
Neon Genesis Evangelion: Death & Rebirth (Shin seiki Evangelion GekijÃ´-ban: Shito shinsei) (1997)
Night and Day (1946)
Nicholas Nickleby (2002)
Niagara (1953)
Never Been Kissed (1999)
Network (1976)
Net, The (1995)
Night of the Hunter, The (1955)